volumes:
  pgdata:

services:
  api01: &api
    build: .
    hostname: api01
    ports:
      - "3001:3000"
    environment:
      DB_NAME: database
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: admin

      REDIS_PASSWORD: 
      REDIS_HOST: redis
      REDIS_PORT: 6379

      JWT_SECRET: super_secret_secret
    depends_on:
      - redis
      - db

  api02:
    <<: *api
    hostname: api02
    ports:
      - "3002:3000"
    
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999" 
    deploy:
      resources:
        limits:
          cpus: "0.17"
          memory: "10MB"

  redis:
    image: redis:8
    ports:
      - 6379:6379
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: ushort
  k6:
    image: grafana/k6
    volumes:
      - ./test/stress:/scripts